  body{
    background-color:#d7fffd;
  }
  hr{

    border-style: none;
    border-top-style:dotted;
    border-color: #900c3f;
    border-width: 5px;
    width:5%;
  }
  h2{

 color: #235952;
}
h3{
  color:#900c3f;
}
